@import 'partials/colors', 'partials/typos', 'partials/utilities';

*, ::after, ::before {
box-sizing: border-box;
}

body {
    width: 65%;
    margin:0 auto;
    background-color: $neutral;
    @include agSemibold;
}

img {
    width: 100%;
    height: 100%;
}
   
nav{
    margin-top: 40px;
    @include flex-row-between;
    height: 44px;
    width: 100%;
    align-items: center;
    .menuLeft {
        @include flex-row-around;
        align-items: center;
        height: 100%;
        .logo{
            @include flex-row-center;
            align-items: center;
            .imgLogo {
                height:16px;
                padding-right: 5px;
            }
            h1 {
                @include logoFont;
            }
        }
        .menu{
            width: 318px;
            .navLink{
                @include flex-row-between;
                margin:0;                    
                li{
                    @include agSemibold;
                    a{color:$secondary;}
                    a.active{
                    @include flex-column-center;                           
                        color: $primary;                           
                        .activePointer {
                            width: 12px;
                            height: 5px;
                            background-color: $primary;
                            border-radius: 25%;
                            margin-top:5px;
                        }
                    }
                    a:hover{color:$primary;}
                }
            }
        }
    }
    .menuRight {
        .buttonEmpty {
            @include buttonEmpty;
        }
    }
}

header {
    margin-top: 40px;
    border-radius: 5px;
    background-color: white;
    .headerTop {
        @include flex-row-between;
        align-items: center;
        background-image: url("/assets/img/pexels-pixabay.jpg");
        height: 497px;
        padding: 45px;
        .headerLeft {
            width: 48%;
            h1 {
                @include agH1;
                color:white;
                span {
                    color:$primary;
                }           
            }
            p{
                @include agLarge;
                color:white;
            }
        }   
        .headerRight {
            width: 400px;
            margin-bottom: 50px;
            margin-right: 50px;
        }
    }
    .headerBottom {
        padding: 17px 40px;
        @include flex-row-between;
        .formSearch {
            .keyword {
                @include button;
            }
        }
    }
}