@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin center {
    align-items: center;
}

@mixin button {
    @include agSemibold;
    padding: 10px 32px;
    border-radius: 4px;
}

@mixin buttonEmpty {
    @include button;  
    border: 1px solid $tertiary;
    a {color:$tertiary;}
}

@mixin buttonFull {
    @include button;  
    background-color: $tertiary;
    a {color:$white;}
}

input {
    @include agSemibold;   
    border: none;   
}

i {
    margin:0;
    font-size: 16px;
    color: $primary;
}